<section id="gallery">
<div class="modular-row gallery-container {{ page.header.class }}">
	{{content}}
	{{ unite_gallery(page.media.images, '{"theme_navigation_type":"arrows"}') }}
</div>
</section>
