# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
*.log
logs/popularity/*
images/*
user/data/*
user/accounts/*
user/pages/01.home/_gallery/*.JPG
user/pages/01.home/_gallery/*.jpg
user/pages/01.home/_gallery/*.png

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
