<section id="contact">
<div class="modular-row contact {{ page.header.class }}">
  {{page.content}}
    <div class="form-group">
        <div id="listing" class="pure-u-1-3">
            {% include "forms/form.html.twig" %}
        </div>
    </div>
</div>
</section>
